<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="inbox-list">
          <ion-menu-toggle *ngFor="let route of menuRoutes">
            <ion-item routerDirection="root" [routerLink]="['/', route]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-label class="ion-text-uppercase">{{ route }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>